.default-button {
    background-color: #007bff; /* Default blue */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.clicked-button {
    background-color: #28a745; /* Green on click */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    animation: fadeOut 3s forwards;
}

.toast.success {
    background-color: #4caf50;
}

.toast.error {
    background-color: #f44336;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.delete-icon {
    background: none;
    border: none;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
}

.delete-icon:hover {
    color: darkred;
}
